<div class="cart-item" data-key="{{item.key}}">
  <div class="cart-item-image">
    <img src="{{item.image |  image_url: width: 400 }}" alt="" />
  </div>

  <div class="cart-item-product">
    <h3>{{ item.product.title }}</h3>

    {% if item.variant.title != 'Default Title' %}
      <p>{{ item.variant.title }}</p>
    {% endif %}
  </div>

  <div class="cart-item-quantity">
    <div class="cart-quantity-selector">
      <button type="button" class="minus">{% render 'minus.svg' %}</button>
      <input
        type="text"
        name="updates[]"
        value="{{item.quantity}}">
      <button type="button" class="plus">{% render 'plus.svg' %}</button>
    </div>
  </div>


  <div class="cart-item-total">
    <span>{{ item.final_line_price | money }}</span>
  </div>

  <div class="cart-item-remove">
    <a href="{{item.url_to_remove}}">
      {% render 'x.svg' %}
    </a>
  </div>
</div>