<header class="header">
  {% if section.settings.logo != blank %}
    <div class="header-logo">
      {% if section.settings.navigation != blank %}
        <a href="{{ section.settings.navigation }}">
      {% endif %}

      <img src="{{ section.settings.logo | img_url: 'master' | image_tag: 'Logo' }}" height="90" width="auto" alt="Logo" />

      {% if section.settings.navigation != blank %}
        </a>
      {% endif %}
    </div>
  {% endif %}

  {% if section.settings.navigation != blank %}
    <nav class="header__navigation">
      <!-- Render your navigation menu here -->
      <ul class="header-nav">
    {% for link in section.settings.navigation.links %}
      <li>
        <a href={{ link.url }}>
          {{ link.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
    </nav>
  {% endif %}
</header>
<style>
.header-logo {
  max-width: {{ section.settings.logo_width }}px
}
</style>

{% schema %}
  {
    "name": "Header",
    "tag": "header",
    "class": "header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "range",
        "id": "logo_width",
        "label": "Logo width",
        "default": 100,
        "min": 20,
        "max": 300,
        "step": 5
      },
      {
        "type": "link_list",
        "id": "navigation",
        "label": "Navigation menu",
        "default": "main-menu"
      }
    ]

  }
{% endschema %}